<div class = "post">
  <div class = diary_post>
    <%= form_with model: @diary, local: true do |f| %>
    <div class = form_connection>
      <p>
        クリックしてファイルをアップロード
      </p>
    <%= f.file_field :image %>
    </div>
    <div class = form_connection>
    <%= %>
      <%= f.text_area :explanation, placeholder:"テキスト", size: "50x10" %>
    </div>
    <div class = link_connection>
      <%= f.submit "更新"%>
      <%= link_to "削除" %>
      <%= link_to "戻る", diary_path(@diary.id) %>
    </div>
    <% end %>
  </div>
</div>